<?xml version="1.0" encoding="UTF-8"?>
<TrainingCenterDatabase xmlns="http://www.garmin.com/xmlschemas/TrainingCenterDatabase/v2" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.garmin.com/xmlschemas/TrainingCenterDatabase/v2 http://www.garmin.com/xmlschemas/TrainingCenterDatabasev2.xsd">
  <Activities>
    <Activity Sport="Biking">
      <Id>{{.StartTime}}</Id>
      <Lap StartTime="{{.StartTime}}">
        <Intensity>Active</Intensity>
        <TriggerMethod>Manual</TriggerMethod>
        <Track>
        {{ range .Waypoints }}
          <Trackpoint>
            <Time>{{ .TimeString }}</Time>
            <Position>
              <LatitudeDegrees>{{.Latitude}}</LatitudeDegrees>
              <LongitudeDegrees>{{.Longitude}}</LongitudeDegrees>
            </Position>
            <AltitudeMeters>{{.Altitude}}</AltitudeMeters>
          </Trackpoint>
        {{ end }}
        </Track>
      </Lap>
    </Activity>
  </Activities>
</TrainingCenterDatabase>
